version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: 23127177_web:latest
    container_name: web_html
    ports:
      - "8081:80"
    restart: unless-stopped
